
  <div class="container">

    
   <div id='container-tweets' class="col-xs-12">
<!--<blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">You can&#39;t call the TPP progressive if it includes a special court for corporations to challenge legitimate policies. <a href="https://t.co/eaMMQoTWo5">https://t.co/eaMMQoTWo5</a></p>&mdash; Bernie Sanders (@SenSanders) <a href="https://twitter.com/SenSanders/status/781562654276087808">29 septembre 2016</a></blockquote>-->

   </div>





</div>

    <script src="<?=DIR_JS?>jquery-2.2.3.min.js"></script>
    <script src="<?=DIR_JS?>tweets.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="<?=DIR_JS?>bootstrap.min.js"></script>
  </body>
</html>