
<div class="container">

    <div id='container-tweets' class="col-xs-12">
        <?=$_TPL['tweets']?>

    </div>





</div>

<script src="<?=DIR_JS?>jquery-2.2.3.min.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="<?=DIR_JS?>bootstrap.min.js"></script>
<script>
    $('.addFav').on('click',function(){

        /*
        *
        * Ajout en favoris in progress  :)
        * */


//        $.post(<?=API?>"/Tw")
//        alert("<?=API?>/APITwitter/user/<?=$_TPL['user']['id']?>/favoris{'idTweet':"+$(this).attr('id'));
        //idTweet=$(this).attr('id');

       // $.post("<?=API?>/APITwitter/user/<?=$_TPL['user']['id']?>/favoris","{'id_tweet':"+idTweet+",'html':'<h1>Test</h1>',id_user:<?=$user['id']?>}");
    })
</script>
</body>
</html>